.over-effect {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -100%;
    background-color: #43cf9c;
    overflow-x: hidden;
    transition: 0.5s;
    margin: 0;
  }
  

